<div class="container-fluid fondo-header">
  <div class="row">
    <!-- div foto argentina programa -->
    <div class="col-sm-6 col-xs-12 ArgLogo-mobile">
      <a href="#">
        <img src="../../../assets/APLogo.png" alt="" class="ArgLogo" />
        <h5 style="margin-left: 15px">#YoProgramo</h5>
      </a>
    </div>
    <!-- div foto argentina programa -->
    <!-- Contenedor redes -->

    <div class="col-sm-6 redes-sociales ArgLogo-mobile">
      <a href=""> <i class="fa-3x fa-brands fa-instagram p-2"></i></a>
      <a href=""> <i class="fa-3x fa-brands fa-instagram p-2"></i></a>
      <a href=""> <i class="fa-3x fa-brands fa-instagram p-2"></i></a>
      <a href=""> <i class="fa-3x fa-brands fa-instagram p-2"></i></a>
    </div>

    <!-- Contenedor redes -->

    <!-- Contenedor navbar -->
    <div class="text-center col-sm-12 col p-0">
      <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-sm navbar-light fondo-header">
          <div id="navbar1" class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse flex-grow-0"
              id="navbarNavAltMarkup"
            >
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#"
                  >Acerca de...</a
                >
                <a class="nav-link" href="#">Experiencia</a>
                <a class="nav-link" href="#">Educación</a>
                <a class="nav-link" href="#">Hard & Soft Skills</a>
                <a class="nav-link" href="#">Proyectos</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Contenedor navbar -->
  </div>
</div>
