<div class="background-color-exp">
  <div class="fondo-exp mx-3 p-3">
    <div class="container-fluid">
      <div class="row">
        <h1 id="educación" class="text-center">Educación</h1>
        <div class="col-lg-12">
          <ul>
            <li>
              <h2>Educación 1</h2>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                at sequi illum veniam recusandae tempora, earum facere iusto
                magni. Pariatur aperiam error molestias nobis recusandae
                possimus exercitationem eum harum vero.
              </p>
            </li>
            <li>
              <h2>Educación 2</h2>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                at sequi illum veniam recusandae tempora, earum facere iusto
                magni. Pariatur aperiam error molestias nobis recusandae
                possimus exercitationem eum harum vero.
              </p>
            </li>
            <li>
              <h2>Educación 3</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                at sequi illum veniam recusandae tempora, earum facere iusto
                magni. Pariatur aperiam error molestias nobis recusandae
                possimus exercitationem eum harum vero.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
