<!-- <div class="container-fluid">
  <div class="row">
    <div id="caja_fotoperfil" class="col-sm-12" style="height: 115px">
      <img
        id="foto-perfil"
        src="https://source.unsplash.com/200x200/? cars"
        alt=""
      />
    </div>

    <div class="col col-xs-12 mt-2 text-center">
      <h1>Julio Tran</h1>
      <h3>Full Stack Developer JR</h3>
    </div>

    <div class="col col-sm-6 col-12 mt-3 text-center">
      <h3>Acerca de mí</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, aliquam?
        Voluptates eius quidem exercitationem corrupti id rem, quibusdam qui,
        accusamus illo, sapiente voluptate molestiae illum iste quod modi quos
        mollitia.
      </p>
    </div>
  </div>
</div> -->

<div class="background-color-acerca-de">
  <div class="fondo-acerca-de mx-3 p-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 centrar-perfil">
          <img
            src="https://source.unsplash.com/190x190/?cars"
            class="foto-perfil img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container-fluid d-flex centrar-acerca-de">
      <div class="col d-flex flex-column align-items-center">
        <h2>Julio Tran</h2>
        <h4>Full Stack Developer JR</h4>
      </div>

      <div class="col d-flex flex-column align-items-center margen-responsive">
        <div>
          <h3 id="acercade">Acerca de mí</h3>
        </div>
        <p class="px-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          nemo, delectus, harum, nihil ipsam optio ducimus ex eaque asperiores
          eum sint aspernatur praesentium minus est! Consequatur neque velit
          eius minus!
        </p>
      </div>
    </div>
  </div>
</div>
