<div class="background-hds">
  <div class="fondo-hds mx-3">
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid fondo-circulos text-center">
          <h1 class="text-center mt-3">Hard and Soft skills</h1>

          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>

          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>

          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          <circle-progress
            [percent]="85"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showTitle]="true"
            [showSubtitle]="false"
          ></circle-progress>
        </div>
      </div>
    </div>
  </div>
</div>
